<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Provider</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12">
      <form>
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="data.nombre"
            name="nombre"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="nombre">Apellido:</label>
          <input
            type="text"
            class="form-control"
            id="apellido"
            name="apellido"
            [(ngModel)]="data.apellido"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="form-group">
          <label for="nombre">cumpleaños:</label>
          <input
            type="text"
            class="form-control"
            id="cumple"
            name="cumple"
            [(ngModel)]="data.cumple"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <ngb-datepicker
          #dp
          [(ngModel)]="data.cumple"
          (navigate)="date = $event.next"
        />

        <div class="form-group">
          <label for="paginaWeb">Pagina Web:</label>
          <input
            type="text"
            class="form-control"
            id="paginaWeb"
            name="paginaWeb"
            [(ngModel)]="data.paginaWeb"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="empresa">Empresa:</label>
          <input
            type="text"
            class="form-control"
            id="empresa"
            name="empresa"
            [(ngModel)]="data.empresa"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="notas">Notas:</label>
          <input
            type="text"
            class="form-control"
            id="notas"
            name="notas"
            [(ngModel)]="data.notas"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        @for (direccion of data.direccion; track direccion; let i=$index) {

        <div>
          <div class="form-group">
            <label for="direccion">Direccion: </label>
            <input
              type="text"
              class="form-control"
              name="direccion"
              [(ngModel)]="data.direccion[i].direccion"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>

          <div class="form-group">
            <label for="nombreDireccion">Nombre de direccion:</label>
            <input
              type="text"
              class="form-control"
              name="nombreDireccion"
              [(ngModel)]="data.direccion[i].nombreDireccion"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>

          <div class="form-group">
            <label for="cp">cp:</label>
            <input
              type="text"
              class="form-control"
              name="cp"
              [(ngModel)]="data.direccion[i].cp"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>

        } @for (telefono of data.telefono; track telefono; let i=$index) {
        <div class="form-group">
          <label for="telefono">Telefono:</label>
          <input
            type="text"
            class="form-control"
            name="telefono"
            [(ngModel)]="data.telefono[i].telefono"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="telefono">Tipo de telefono:</label>
          <input
            type="text"
            class="form-control"
            name="tipoTelefono"
            [(ngModel)]="data.telefono[i].tipo"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        } @for (email of data.email; track email; let i=$index) {
        <div class="form-group">
          <label for="telefono">email:</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="data.email[i].email"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
        <div class="form-group">
          <label for="telefono">Tipo de Email:</label>
          <input
            type="text"
            class="form-control"
            name="tipoEmail"
            [(ngModel)]="data.email[i].tipo"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        }
        <br />
        <a (click)="send()"
          ><div type="submit" class="btn btn-primary">Save</div></a
        >
        <a href="providers"
          ><div type="submit" class="btn btn-danger">Return</div></a
        >
        <br />
      </form>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Tu contacto se guardo con exito
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <p>Tu contacto se guardo con exito</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c()">Ok</button>
  </div>
</ng-template>
